<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <display-name>MyMavenApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPageController</display-name>
    <servlet-name>LoginPageController</servlet-name>
    <servlet-class>com.controller.LoginPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageController</servlet-name>
    <url-pattern>/LoginPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>com.dao.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>1LoginDao</display-name>
    <servlet-name>1LoginDao</servlet-name>
    <servlet-class>com.dao.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>1LoginDao</servlet-name>
    <url-pattern>/1LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginBean</display-name>
    <servlet-name>LoginBean</servlet-name>
    <servlet-class>com.bean.LoginBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBean</servlet-name>
    <url-pattern>/LoginBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLoginController</display-name>
    <servlet-name>AddLoginController</servlet-name>
    <servlet-class>com.controller.AddLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLoginController</servlet-name>
    <url-pattern>/AddLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginListController</display-name>
    <servlet-name>LoginListController</servlet-name>
    <servlet-class>com.controller.LoginListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginListController</servlet-name>
    <url-pattern>/LoginListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductBeam</display-name>
    <servlet-name>ProductBeam</servlet-name>
    <servlet-class>com.bean.ProductBeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBeam</servlet-name>
    <url-pattern>/ProductBeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductController</display-name>
    <servlet-name>ViewProductController</servlet-name>
    <servlet-class>com.controller.ViewProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductController</servlet-name>
    <url-pattern>/ViewProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDao</display-name>
    <servlet-name>ProductDao</servlet-name>
    <servlet-class>com.dao.ProductDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDao</servlet-name>
    <url-pattern>/ProductDao</url-pattern>
  </servlet-mapping>
</web-app>